*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Cairo",sans-serif;
}

body{
  height:100vh;
  background:linear-gradient(120deg,#200020,#000);
  color:#fff;
  overflow:hidden;
}

.screen{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  gap:18px;
  opacity:0;
  transform:scale(0.95);
  transition:0.6s ease;
  padding:20px;
}

.screen.active{
  opacity:1;
  transform:scale(1);
}

h1,h2{
  text-shadow:0 0 15px hotpink;
}

.sub{
  opacity:0.8;
  font-size:14px;
}

button{
  padding:14px 30px;
  border-radius:35px;
  border:none;
  background:linear-gradient(45deg,hotpink,deeppink);
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.1) rotate(-1deg);
  box-shadow:0 0 25px hotpink;
}

.type{
  overflow:hidden;
  white-space:nowrap;
  border-right:2px solid pink;
  animation:typing 4s steps(40) forwards;
}

@keyframes typing{
  from{width:0}
  to{width:100%}
}