*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  background:linear-gradient(120deg,#2a002a,#000);
  color:white;
  overflow:hidden;
}

.screen{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:15px;
  text-align:center;
  opacity:0;
  transform:scale(0.95);
  transition:0.5s ease;
}

.screen.active{
  opacity:1;
  transform:scale(1);
}

button{
  padding:12px 25px;
  border:none;
  border-radius:30px;
  background:hotpink;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:deeppink;
}

.type{
  white-space:nowrap;
  overflow:hidden;
  border-right:2px solid pink;
  animation:typing 4s steps(30) forwards;
}

@keyframes typing{
  from{width:0}
  to{width:100%}
}
